/*Base Elements*/

body {
  background-color: orange;
    margin: 0 auto;
}

.nav {
    
    list-style: none;
    float: right;
}

ul li {
    float: none;
    margin: 0 auto;
    padding: 0 1.85em;
    
}




.monkey {
    max-width: 100px;
    max-height: auto;
    border-radius: 50%;
    
}

.flyingmonkey {
    max-width: 250px;
    
}

footer {
    
    background-color: aquamarine;
}

/*Media Queries*/


@media screen and (min-width: 480px) {
    
    body {
        background-color: pink;
        
    }
  
    .nav li {
        float:left;
    
    }

    
}
